footer {
  display: flex;
  width: 100%;
}
.navbar_foot {
  display: flex;
  justify-content: space-around;
  margin-top: 44.5px;
  width: 472px;
}

.logo_3 {
  margin-right: 102px;
  margin-left: 227px;
  margin-top: 52px;
  width: 94.19px;
  height: 31.13px;
}

p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #051101;
  margin: 15px;
  width: 46px;
  height: 19px;
}

.follow {
  width: 114px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #051101;
  margin-top: 40px;
  margin-left: 116px;
}

#face {
  width: 48px;
  height: 48px;
  margin-top: 32px;
  margin-left: 44px;
}

#twit {
  width: 48px;
  height: 48px;
  margin-top: 32px;
  margin-left: 25px;
}

#inst {
  width: 48px;
  height: 48px;
  margin-top: 32px;
  margin-left: 25px;
}
#facebook_logo {
  margin-top: 47px;
}
