header {
  display: flex;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 59px;
}

.logo {
  margin-right: 317px;
  margin-left: 227px;
  margin-top: 52px;
  width: 94.19px;
  height: 31.13px;
}
.button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 89px;
  height: 19px;
  background-color: #5cbe3a;
  margin-top: 44px;
  margin-right: 227px;
  margin-left: 260px;
  border-radius: 4px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 10;
}
p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #051101;
  margin: 15px;
  width: 46px;
  height: 19px;
  opacity: 60%;
}
p:hover {
  opacity: 100%;
}
