html,
body {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1600px;
  background-color: #ebffe4;
}

a {
  width: 334.49px;
  height: 27.57px;
  color: #5cbe3a;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
}

.text_1_logo_2 {
  margin-left: 227px;
  margin-top: 118px;
  display: flex;
  align-items: center;
}
.logo2 {
  width: 50.18px;
  height: 17.25px;
  margin-left: 15.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_2 {
  width: 406.59px;
  height: 58.42px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  color: #051101;
  margin-left: 227px;
  margin-top: 16px;
  margin-bottom: 26px;
}

.text_3 {
  width: 392px;
  margin-left: 227px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #051101;
  opacity: 0.7;
}

.text_4 {
  margin-left: 227px;
  margin-top: 11px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #051101;
  opacity: 0.7;
}

colortext {
  color: #5cbe3a;
}
.price {
  margin-left: 225px;
  margin-top: 14.5px;
  width: 249px;
  height: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 130%;

  color: #5cbe3a;
}
colortext_2 {
  color: #87d16d;
  font-size: 22px;
  line-height: 28.6px;
  text-decoration: line-through;
  margin-left: 23px;
}
.button_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 89px;
  height: 19px;
  background-color: #5cbe3a;
  margin-top: 37px;
  margin-left: 227px;
  border-radius: 4px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}
.button_light {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 103px;
  height: 19px;
  margin-top: 37px;
  margin-left: 30px;
  border-radius: 4px;
  border: 1px solid rgba(92, 190, 58, 0.3);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #5cbe3a;
}

.row {
  display: flex;
}

.customers {
  margin-left: 225px;
  margin-top: 84px;
  width: 148px;
  height: 102px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 120%;
  color: #5cbe3a;
}

.review {
  margin-left: 68px;
  margin-top: 84px;
  width: 148px;
  height: 102px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 120%;
  color: #5cbe3a;
}

.customers_text {
  width: 99px;
  height: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #051101;
  opacity: 0.7;
  margin-left: 249.5px;
  margin-top: 6.5px;
}

.review_text {
  width: 62px;
  height: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #051101;
  opacity: 0.7;
  margin-top: 6.5px;
  margin-left: 130px;
}

.main {
  display: flex;
  margin-top: -20px;
}
.left {
  margin-left: -1600px;
  margin-top: 93px;
}
.right {
  position: relative;
  margin-left: 44px;
}
#star {
  position: absolute;
  width: 176.01px;
  height: 176.01px;
  margin-top: 240px;
  margin-left: 60px;
}

.shadow {
  position: absolute;
  width: 539.24px;
  height: 45px;
  background: #c3ddba;
  filter: blur(25px);
  transform: rotate(-14.89deg);
}
.text_star {
  position: absolute;
  margin-top: 276px;
  margin-left: 114px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.text_star_2 {
  position: absolute;
  margin-left: 108.5px;
  margin-top: 324px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

#arrow {
  position: absolute;
  margin-left: 36px;
  margin-top: 396.5px;
}
#line {
  position: absolute;
  margin-left: 102.5px;
  margin-bottom: 91.5px;
}
#sneaker {
  position: absolute;
  margin-top: 159px;
  margin-right: 112.5px;
  margin-bottom: 51px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#square_1 {
  position: absolute;
  margin-top: 670px;
  margin-left: 342px;
}
#square_2 {
  position: absolute;
  margin-top: 670px;
  margin-left: 493px;
}
#square_3 {
  position: absolute;
  margin-top: 670px;
  margin-left: 644px;
}
.shadow {
  position: absolute;
  margin-top: 570px;
  margin-left: 160px;
}
